// Import reset stylesheet for compiling
@import 'reset';

// Root variables
// Colours
$cyan: hsl(193, 38%, 86%);
$green: hsl(150, 100%, 66%);

$grey-blue: hsl(217, 19%, 38%);
$dark-blue: hsl(217, 19%, 24%);

// Typography
$fs-quote: 28px;
$font-family: 'Outfit', sans-serif;

// Screen sizes
$desktop: 1440px;
$mobile: 375px;