// Import reset stylesheet for compiling
@import "reset";

// Root variables
// Colours
$cyan: hsl(193, 38%, 86%);
$green: hsl(150, 100%, 66%);
$green-hover: hsl(150deg 100% 66% / 20%);

$grey-blue: hsl(217, 19%, 38%);
$dark-blue: hsl(217, 19%, 24%);

// Typography
$fs-quote: 28px;
$font-family: "Outfit", sans-serif;
$fw: 700;

// Screen sizes
$desktop: 1440px;
$mobile: 375px;

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop {
    display: none;
}

body {
    font-family: $font-family;
    background-color: $dark-blue;
    font-weight: $fw;
    letter-spacing: 3px;
}

.wrapper {
    margin: 0 auto;
    height: 100%;
    max-width: 20%;
    @extend .flex-center;
}

main {
    background-color: $grey-blue;
    border-radius: 15px;
    box-shadow: 5px 10px 10px 20px rgba(0, 0, 0, 0.15), 10px 20px 10px 40px rgba(0, 0, 0, 0.1),
        20px 40px 10px 80px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: $green;
    padding-top: 50px;
}

blockquote {
    font-size: $fs-quote;
    text-align: center;
    padding: 30px 20px 0 20px;
    color: $cyan;
}

main > img {
    padding: 30px 0;
    fill: $cyan;
}

#circle {
    background-color: $green;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    @extend .flex-center;
    margin-bottom: -2rem;
}

#circle:hover {
    box-shadow: 0 0 20px 20px $green-hover;
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .wrapper {
        max-width: 40%;
    }
}